body {
	background-image:url(../source/bg.jpg);
	background-size:100%;
	margin-left: 5%;
	margin-right: 5%;
	overflow-x:hidden;
	overflow-y:hidden;
}

.search {
	text-align: center;
	height: 100px;
	margin-bottom: 3%;
}

.search h1{
	margin: 3% 0 3% 0;
	font-family:Arial, Helvetica, sans-serif;
	color:#00CCFF;
}

.search input {
	width: 70%;
	height: 40px;
	font-size: 1.5em;
	font-family:"Times New Roman", Times, serif;
}

.content {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1%;
	font-size: 1.3em;
	font-family:"Times New Roman", Times, serif;
    overflow-pageINdex:hidden; 
    overflow-y:hidden; 
    word-break:break-all; 
	height : 650px;                                     /*调整显示区的高*/
}

.content .heightlight{
	background-color:#FFFF00;
	font-weight: 900;
}

.title {
	text-align: left;
	position: relative;
	top: 1em;
	line-height:100%;
	color:#000000;
	font-size: 0.9em;
  	text-decoration:none;
}

.created {
	text-align: right;
	font-style: oblique;
	font-size: 0.8em;
	color:#999999;
	line-height:0%;
}

.split {
	border: 1px dashed #CCCCCC;	
}

.pages{
	margin-top: 3%;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

.pages a{ 
    font-size: 12px; 
    color: #000000; 
    text-decoration: underline; 
}

.pages .empty{ 
	color: #FF0000;
}

.pages .current{ 
    font-size: 14px; 
	color: #FF0000;
    text-decoration: none; 
}
 
.pages a:hover{ 
    font-size: 14px; 
    color: #CC0000; 
    text-decoration: underline; 
} 
